<div class="border-red-200 border-2 mt-20 p-5 rounded-lg shadow-lg">
  <form action="" class="flex justify-center items-center flex-col">
    <div class="flex flex-col mb-4">
      <label for="name">Name</label>
      <input type="text" id="name" class="rounded-lg border-none ring-1 ring-gray-300 placeholder-gray-400 outline-none focus:ring-1 focus:ring-red-600 bg-gray-100" placeholder="name">
    </div>
    <div class="flex flex-col mb-4">
      <label for="username">Username</label>
      <input type="text" id="username" class="rounded-lg border-none ring-1 ring-gray-300 placeholder-gray-400 outline-none focus:ring-1 focus:ring-red-600 bg-gray-100" placeholder="username">
    </div>
    <div class="flex flex-col mb-4">
      <label for="email">Email</label>
      <input type="text" id="email" class="rounded-lg border-none ring-1 ring-gray-300 placeholder-gray-400 outline-none focus:ring-1 focus:ring-red-600 bg-gray-100" placeholder="email">
    </div>
    <div class="flex flex-col mb-4">
      <label for="password">Password</label>
      <input type="text" id="password" class="rounded-lg border-none ring-1 ring-gray-300 placeholder-gray-400 outline-none focus:ring-1 focus:ring-red-600 bg-gray-100" placeholder="password">
    </div>
    <div class="flex flex-col mb-4">
      <label for="password_confirm">Confirm password</label>
      <input type="text" id="password_confirm" class="rounded-lg border-none ring-1 ring-gray-300 placeholder-gray-400 outline-none focus:ring-1 focus:ring-red-600 bg-gray-100" placeholder="confirm password">
    </div>
    <input type="submit" value="Create" class="bg-red-300 text-white py-1 px-3 rounded-sm w-full transition-all duration-200 hover:bg-red-400">
  </form>
</div>